<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Hub <%= if assigns[:room_name], do: " - " <> @room_name %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <div>
          <%= if signed_in?(@conn) do %>
            <span id="user-name"><%= current_user(@conn).username %></span> |
            <%= link "Sign out", to: Routes.session_path(@conn, :delete), method: :delete %>
          <% else %>
            <%= link "Sign in", to: Routes.session_path(@conn, :new), method: :get %> |
            <%= link "Sign up", to: Routes.user_path(@conn, :new) %>
          <% end %>
        </div>
        <h2 id="site-title"><a href="/">Hub</a></h2>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
