<div class="main-container">
  <h1 id="room-title">Chat room : <span id="room-id"><%= @room_id %></span></h1>
  <div id="msg-list"></div>
  <form id="msg-form">
    <input type="text" id="name" class="input" placeholder="Name" autofocus />
    <input type="text" id="msg-text" class="input" placeholder="Type your message..." />
    <input type="submit" class="input" value="Send" />
  </form>
</div>
