/* This file is for your main application css. */
@import "./reset.css";
@import "./phoenix.css";

html, body {
  height: 100%;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
}

main { 
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-container {
  border-radius: 5px;
  background-color: #f4f4f4;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#msg-list {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#msg-form {
  display: flex;
  width: 100%;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 0;
}

#room-title {
  margin: 0;
}

#site-title {
  margin-bottom: 5px;
}

#name-form {
  width: 100%;
  background-color: #f4f4f4;
  display: flex;
  flex-wrap: wrap;
}

#name-input, #msg-text {
  width: 80%;
  flex-grow: 1;
  font-size: 16px;
}

#name-btn {
  min-width: 120px;
  width: 20%;
  flex-grow: 1;
}

.message-row {
  display: flex;
  flex-shrink: 0;
}

.message-row > b {
  flex-basis: 5em;
  flex-shrink: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.message-row > span {
  width: calc(100% - 5em);
  padding-right: 1em;
  word-wrap: break-word;
}

.hidden {
  display: none;
}

.input {
  margin: 0;
  background-color: #c5c3c3;
}

.title {
  font-weight: bold;
  font-size: 20px;
}
