/* This file is for your main application css. */

@import "./phoenix.css";

.main-container {
  border-radius: 5px;
  background-color: #f4f4f4;
  padding: 20px;
}

#msg-list {
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#msg-input {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  background-color: #fff;
}

.input {
  margin: 0;
  background-color: #c5c3c3;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
